.mainAbutUs {
    background-color: #0095b5;
    text-align: center;
    height: 25%;
    margin-top: 120px;
    width: 100%;
    z-index: 7;
}

.AbutUsPic {
    height: 100%;
    width: 95%;
}

.h1AbutUs {
    color: #ffffff;
    font-family: cursive;
    z-index: 2;
    /* margin-left: 22%; */
    /* margin-top: -420px; */
}

.abutUsInfo {
 
   /* direction: rtl; */
    width: 54%;
    height: 200px;
    border-radius: 2%;
    text-align: center;
    /* box-shadow: black 0px -1px 20px 4px; */
    margin-top:-130px;
    display: inline-block;
    /* margin-left: 26%; */
}

.abutUsP {
    direction: rtl;
    font-family: system-ui;
    color: white;
    font-weight: 600;
}

.signature {
    font-weight: 400;
}