

.bigBoxFilters {
    display: flex;
    align-items: center;
     margin: auto;
    overflow-y: auto;
    margin-top: 4px;
    width: 98%;
    height: 20%;
    background-color: #f1f1f1;
    color: #008b99;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}
.catgoryBox{
    margin-left:30px;
    display: flex;
}
.liCatgory {
    margin-left: 30px;
    font-family: "Audiowide", sans-serif;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-size: larger;
    border-bottom: 2px solid white;
}

.liCatgory:hover {
    border-bottom: 2px solid purple;
}
.downArrow{
    text-align-last: center;
}
.BoxPriceMediator{
    width:150px;
}

.priceBarcontainer {
    margin-top:5px;
    width: 98%;
}
.barPriceText{margin-top:5px;margin-bottom: 5px;
}
.barPrice {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #e2a1a1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.barPrice:hover {
    opacity: 1;
}

.barPrice::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(233, 7, 7);
    cursor: pointer;
}

.barPrice::-moz-range-thumb {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: rgb(233, 7, 7);
    cursor: pointer;
}